body {
    font-size: 12px;
    background: #FFF;
    color: #333;
    margin: 0;
}

ul, dl {
  list-style: none;
}

#content {
    width: 400px;
    margin: 20px;
    padding: 10px;
    background: #aaaeaa;
}

#searchForm {
    margin: 20px;
}

#searchForm input#sch_keyword {
    width: 364px;
}

#rank-list a {
    color: #FFF;
    text-decoration: none;
}

#rank > li > span.ranking {
    margin-right: 10px;
}

#rank-list a:hover {
    text-decoration: underline;
}

#rank-list {
    overflow: hidden;
    width: 160px;
    height: 20px;
    margin: 0;
}

#rank-list dt {
    display: none;
}

#rank-list dd {
    position: relative;
    margin: 0;
}

#rank-list ol {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rank-list li {
    height: 20px;
    line-height: 20px;
    color: #FFF;
}

.move {
    margin-top: -20px;
    transition: 0.7s;
}